[user]
    email = 72458798+srjimmy@users.noreply.github.com
    name = srjimmy
[core]
    editor = code --wait
    autocrlf = input
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $REMOTE $LOCAl $BASE $MERGED
[init]
    defaultBranch = main
